  <main class="d-flex container">
    <!--<button class="btn btn-primary">
      Сохранить отчёт
    </button>
    <button class="notification-button">
      <i class="fas fa-bell"></i>
    </button>-->

  <div class="filters">
    <span class="mx-auto">Фильтры</span>
    <div class="container">
      <div class="container card">
        <b class="mx-auto">Тип диаграммы:</b>
        <select #filterSelect id="filterSelect" [(ngModel)]="selectedReport">
          <option class="filter-option" *ngFor="let filterOption of filterOptions" [value]="filterOption"> {{ filterOption }}</option>
        </select>

        <div class="row">
          <div class="col">
            <b>Школа</b>
            <div>
              <label class="filter-label" for="allSchools">Все <input type="checkbox" id="allSchools"></label>
            </div>

            <div class="options">
              <select multiple [(ngModel)]="selectedSchoolCodes" (change)="onSelectionChange()">
                <option class="filter-option" *ngFor="let schoolOption of schoolOptions" [value]="schoolOption.schoolCode" [title]="schoolOption.shortName"> {{ schoolOption.shortName }}</option>
              </select>
            </div>
          </div>

          <div class="col">
            <b>Класс</b>
            <div>
              <label class="filter-label" for="allClasses">Все <input type="checkbox" id="allClasses"></label>
            </div>
            <div class="options">
              <select multiple [(ngModel)]="selectedSchoolClasses">
                <option class="filter-option" *ngFor="let classOption of classOptions" [value]="classOption"> {{ classOption }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <b>Тип</b>
            <div>
              <label class="filter-label" for="allTypes">Все <input type="checkbox" id="allTypes"></label>
            </div>
            <div class="options">
              <select multiple>
                <option class="filter-option" *ngFor="let typeOption of typeOptions" [value]="typeOption"> {{ typeOption }}</option>
              </select>
            </div>
          </div>

          <div class="col">
            <b>Предмет</b>
            <div>
              <label class="filter-label" for="allSubjects">Все <input type="checkbox" id="allSubjects"></label>
            </div>
            <div class="options">
              <select multiple [(ngModel)]="selectedSubjects">
                <option class="filter-option" *ngFor="let subjectOption of subjectOptions" [value]="subjectOption.subjectId"> {{ subjectOption.subjectName }}</option>
              </select>
            </div>
          </div>
        </div>
        <button (click)="generateReport()">Сгенерировать отчёт</button>
      </div>
    </div>
  </div>


  <div class="chart-container" style="width: 1200px; height: 600px;">
    <canvas id="my-chart">
    </canvas>
  </div>
</main>
