<h1> Панель администратора</h1>
<main class="d-flex justify-content-between">
  <!--<div class="d-flex flex-column justify-content-between">
    <h1> Пользователи </h1>
    <button class="btn-primary btn"> Добавить нового пользователя</button>
    <button class="btn-primary btn"> Изменить пароль пользователя</button>
    <button class="btn-primary btn"> Удалить пользователя</button>
    <button class="btn-primary btn"> Изменить роли пользователя</button>
  </div>

  <div class="d-flex flex-column justify-content-between">
    <h1> кайф </h1>
    <button class="btn-primary btn"> Добавить нового пользователя</button>
    <button class="btn-primary btn"> Изменить пароль пользователя</button>
    <button class="btn-primary btn"> Удалить пользователя</button>
    <button class="btn-primary btn"> Изменить роли пользователя</button>
  </div>-->

  <h3>Very slow animation</h3>
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
</main>
