<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-container mb-3">
            <mat-form-field>
              <mat-label>Введите почтовый адрес</mat-label>
              <input matInput
                     class="form-control form-control-lg"
                     placeholder="email@example.com"
                     [formControl]="email"
                     (blur)="updateErrorMessage()"
                     required
                     #loginInput>
              <mat-error *ngIf="email.invalid"> {{errorMessage}}</mat-error>
            </mat-form-field>
          </div>

          <!-- Password input -->
          <div class="form-container mb-3">
            <mat-form-field>
              <mat-label>Введите пароль</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" #passwordInput>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Запомнить меня
              </label>
            </div>
            <a href="password-restore" class="text-body">Забыли пароль?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login(loginInput.value, passwordInput.value)">
              Войти
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
